# Logs
/logs
*.log
npm-debug.log*
/.nyc_output

/yarn.lock
/package-lock.json

# Dependency directories
/node_modules/

# Engine's input
/config*

# Engine's output
/public/**/*.json
/public/res/**/*
/public/src/**/*

!.gitkeep
