body {
    min-height: 100vh;
    margin: 0 auto;
}
textarea, input[type=text] {
    width: 100%;
    margin: 0;
    padding: 8px;
    font-family: "Noto Mono", "Lucida Console", monospace;
    color: #eee;
    background: #000;
    border: #222;
}
textarea {
    height: calc(100vh - 44px);
    outline: none;
}
input[type=text] {
    height: 40px;
}