* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", "Noto Sans Med", sans-serif;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  color: #000;
}
.content.login {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;

  /*background: linear-gradient(
    135deg,
    #a36831 25%,
    #be5028 0,
    #be5028 50%,
    #ab2d20 0,
    #ab2d20 75%,
    #3d283d 0
  );*/
  background: linear-gradient(
    135deg,
    #be5028 33%,
    #ab2d20 0,
    #ab2d20 67%,
    #3d283d 0
  );
}
form {
  position: relative;
  display: block;
  padding: 16px;
  max-width: 250px;
  max-height: 350px;

  background: #fff;
  box-shadow: #000 2px 2px 4px;
  transition: height;
}
input, button {
  position: relative;
  width: 100%;
  border: none;
  padding: 10px 5px;
}
input {
  border-bottom: 1px grey solid;
  margin-bottom: 8px;
  background: #fff;
  color: #000;
}
input:focus {
  outline: none;
  border-bottom: 2px #4caf50 solid;
  margin-bottom: 7px;
}
button {
  text-transform: uppercase;
  cursor: pointer;

  font-weight: bold;
  background: #4caf50;
}
button:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  transition: .2s opacity;
  opacity: 0;
}
button:hover:before {
  opacity: .2;
}
button:focus:before {
  opacity: .4;
}
.disabled {
  opacity: .54;
}
p {
  margin-bottom: 8px;
}
