<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="/css/captcha.css" />
  <meta http-equiv="Refresh" content="{{!it.ttl}}">
  <title>Captcha</title>
</head>
<body>
<div class="wrapper">
  <div class="cell">
    <a href="captcha.frame">
      <img src="captcha.image" />
    </a>
  </div>
  <div class="captcha-indicator" style="animation: captcha-indicator {{!it.ttl}}s linear"></div>
</div>
</body>
</html>