<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<link rel="stylesheet" href="/css/captcha.css" />
		<meta http-equiv="Refresh" content="{{!it.ttl}}">
		<title>Captcha</title>
	</head>
	<body>
    <a href="captcha.frame">
      <div class="wrapper">
        <div class="cell">
          <img src="captcha.image" />
        </div>
        <div class="captcha-indicator" style="animation: captcha-indicator {{!it.ttl}}s linear"></div>
      </div>
    </a>
	</body>
</html>
