<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<link rel="stylesheet" href="/css/captcha.css" />
		<title>Captcha</title>
	</head>
	<body>
    <form action="/api/v1/captcha.check" method="POST">
      <iframe src="/api/v1/captcha.frame" width="{{!it.width}}" height="{{!it.height}}" frameborder="0"></iframe>
      <br />
      <input name="code" required autocomplete="off" autofocus />
      <button>Submit</button>
    </form>
	</body>
</html>
