<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Error!</title>
	</head>
	<body>
		<main>
			<header>
				<div>{{!it.error}}</div>
				<div>{{!it.message}}</div>
				{{?it.stack}}
					<pre>{{=it.stack}}</pre>
				{{?}}
			</header>
		</main>
	</body>
</html>
