<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset='utf-8' />
		<link rel="stylesheet" href="{{!it.server.pathPrefix}}css/sobaka.css" />
		<title>Error!</title>
	</head>
	<body>
		<main>
			<header>
				<h1>{{!it.error || 'Error!'}}</h1>
				<h2>{{!it.message || 'No message...'}}</h2>
				{{?it.debug && it.stack}}
					<pre>{{=it.stack || 'No stack...'}}</pre>
				{{?}}
			</header>
		</main>
	</body>
</html>
